body{
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

nav a{
    font-weight: 700;
    text-decoration: none;
    color:  #4169E1;
}

#main-logo {
    height: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
    padding: 20px;
    position: fixed;
    top: 0;
}

#first-section {
    height: 1500px;
    margin-top:60px;
    width: 100%;
    background-color: aliceblue;
}

footer{
    background-color: #000C30;
    padding: 30px;
}

#footer-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer-section div{
    flex: 1;
    color: #fff;
}

#footer-section #footer-story {
    flex: 2;
}

#footer-story p{
   width: 80%;
}

#footer-section div p {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.6rem;
}

.footer-titles  {
    color:  #4169E1;
    font-weight: 700;
    font-size: 1rem;
}

.footer-links a{
    display: block;
    padding: 10px 0px;
}

#footer-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

hr{
    border-color:  #4169E1; 
}